*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Monserrat', sans-serif;
}

:root{
    --bg-color: #f1f2eb;
    --second-color: #d8dad3;
    --main-color: #a4c2a5;
    --second-bg-color: #566246;
    --textcolor: #4a4a48;
}

/*Relative View Elements*/
.inactive{
    display: none;
}

body{
    background-image: url(/assets/images/pexels-cottonbro-studio-6590914.webp);
    background-position: center center;
    background-attachment: scroll;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
}

/*Header Styles--------------------------*/
.header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e4e3e3ab;
    backdrop-filter: blur(20px);
    width: 95%;
    margin-top: 25px;
    border-radius: 20px;

    & .logo{
        padding: 15px 50px;

        & img{
            width: 130px;
        }
    }

    .fi-rr-apps{
        display: none;
    }

    .menu{
        display: block;
        margin-right: 25px;
        
        & ul{
            display: flex;
            flex-direction: row;
            align-items: center;

            & li{
                display: flex;
                justify-content: space-between;
                padding: 0px 25px;

                & a{
                    text-decoration: none;
                    font-size: 1.25rem;
                    color: black;
                    font-weight: 600;
                    transition: .3s all ease-in-out;
                }

                & a:hover{
                    color: var(--second-bg-color);
                    transform: translateY(-5px);
                }
            }
        }
    }

}
/*---------------------------------------*/

/*Main Container-------------------------*/
.container{
    display: flex;
    justify-content: left;
    align-items: left;
    background-color: #e4e3e3ab;
    backdrop-filter: blur(20px);
    width: 95%;
    margin-top: 25px;
    border-radius: 20px;
}

/*Home Section--------------------------*/
.cover{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 50px;

        & .text_info__cover{
            width: 50%;
            margin-right: 250px;

            & .title_home{
                padding-top: 150px;
                margin-bottom: 25px;
                font-size: 4rem;
                text-align: left;

                & .title{
                    color: var(--second-bg-color );
                }
            }

            & .parag_home{
                margin-top: 50px;
                margin-bottom: 50px;
                text-align: justify;
                margin-right: 75px;
                font-size: 1.2rem;
            }

            & .redes_banner{
                font-size: 1.2rem;
                font-weight: 300;
                margin-bottom: 25px;
            }

            & .social_icons{
                & .social{
                    display: flex;
                    justify-content: left;
                    align-items: left;

                    & li{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        list-style: none;

                        & .social_ico{
                            font-size: 2.5rem;
                            padding-right: 35px;
                            transition: .3s all ease-in-out;
                            cursor: pointer;
                            margin-bottom: 50px;
                        }
                    }

                    & .social_ico:hover{
                        color: #566246;
                        transform: scale(1.1);
                    }
                }
            }
        }

        & .image_banner{
            width: 50%;

            & img{
                position: absolute;
                width: 1050px;
                top: 0px;               
                right: 0%;
                border-bottom-right-radius: 20px;
            }
            
        }
    }
}

/*----------------------------------------*/

/*Info Banner Styles---------------------

/*---------------------------------------*/


/*Home Styles--------------------------------*/

/*-------------------------------------------*/


/*About Us Styles----------------------------*/

/*-------------------------------------------*/


/*Products Styles----------------------------*/

/*-------------------------------------------*/


/*Contact Styles----------------------------*/

/*------------------------------------------*/


/*Media Queries-------------------------------------*/
@media (max-width: 1024px){
    .header__container{
        & logo{
            & img{
                width: 80px;
            }
        }

        & .menu ul li a{
            font-size: 1.15rem;
        }
    }
}

@media (max-width: 900px){
    .header__container{
        & .logo{
            & img{
                width: 80px;
            }
        }
    }
}

@media (max-width: 800px){
/*Responsive Header----------------------------------*/
    .header__container{
        padding: 8px;

        & .logo{
            margin-left: -25px;

            & img{
                width: 80px;
            }
        }

        & .fi-rr-apps{
            display: block;
            font-size: 1.3rem;
            margin-right: 25px;
            transition: .3s all ease-in-out;
        }
        
        & .fi-rr-apps:hover{
            color: #566246;
            transform: scale(1.1);
            cursor: pointer;
        }

        & .menu{
            position: absolute;
            display: block;
            opacity: 0;
            justify-content: center;
            align-items: center;
            top: 100px;
            z-index: 100;
            background-color: #b8b3b3d1;
            backdrop-filter: blur(20px);
            border-radius: 20px;
            width: 95%;          

            & ul{
                display: flex;
                flex-direction: column;
                padding: 10px;

                & li{
                    padding: 15px 25px;

                    & a:hover{
                        color: var(--second-bg-color);
                        transform: scale(1.15);
                    }
                }
            }
        }
    }
/*--------------------------------------------*/
/*Responsive Home---------------------------------*/
    .cover{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & .text_info__cover{
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            top: -15%;
            left: 18%;
            width: 100%;

            & .title_home{
                text-align: center;
                font-size: 3.8rem;
            }
        }

        & .image_banner{
            display: none;
        }

    }
/*------------------------------------------------*/
}

@media (max-width: 350px){

}